:root {
  --padding: 120px;
  --transition: cubic-bezier(.4, 0, 0, 1);
  --index: calc(1vw + 1vh);
}

.showcase {
  background-color: #171817;
  position: relative;
  overflow-x: hidden;
  color: #fff;
}

.showcase::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  box-shadow: inset 0 0 500px #171817;
}

.showcase__logo__wrapper {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  top: 65px;
  font-family: RalewayBold, sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.showcase__logo__wrapper span {
  color: #ffd700;
  font-size: 40px;
}

.showcase__content-wrapper {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: calc(var(--padding) * 1.2) 0;
}

.showcase-carousel .swiper-wrapper {
  transition: var(--transition);
}

.showcase-carousel__item {
  position: relative;
  height: calc(100vh - var(--padding)*2);
  text-align: center;
  opacity: .25;
  transform: scale(.75);
  transition: opacity 1.8s var(--transition), transform 1.8s var(--transition)
}

.showcase-carousel__item::after {
  content: '';
  width: 120px;
  height: 0;
  position: absolute;
  box-shadow: 0 0 45px 10px #010101;
  bottom: 5px;
  left: calc(50% - 60px);
}

.showcase-carousel__item p {
  position: absolute;
  bottom: -85px;
  width: 100%;
  font-family: RalewayBold, sans-serif;
  font-size: 30px;
}

.showcase-carousel__item.swiper-slide-active {
  opacity: .95;
  transform: scale(.98);
}

.showcase-carousel__image-wrapper > * {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 150px;
  transform-style: preserve-3d;
}

.showcase-carousel__image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.showcase-carousel__image-left {
  perspective-origin: left center;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.showcase-carousel__image-right {
  perspective-origin: right center;
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  margin-left: -1px;
}

.showcase-carousel__image-left .showcase-carousel__image {
  animation: k-left-side 2s ease-in-out infinite;
  animation-direction: alternate;
}

.showcase-carousel__image-right .showcase-carousel__image {
  animation: k-right-side 2s ease-in-out infinite;
  animation-direction: alternate;
}

.showcase-navigation {
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.showcase-navigation > * {
  position: absolute;
  height: 100%;
  width: 50%;
  outline: none;
  cursor: pointer;
}

.showcase-navigation__next {
  right: 0;
}

.showcase-navigation > *::before {
  content: '';
  opacity: 0;
  transition: opacity .75s ease-out;
  position: absolute;
  transform: rotate(-180deg);
  left: calc(var(--index) * 1.5);
  top: 50%;
  background-image: url(../img/icons/section_2-1/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: calc(var(--index) * 2);
  height: calc(var(--index) * 2);
}

.showcase-navigation > *:hover::before {
  opacity: .5;
}

.showcase-navigation__next::before {
  transform: rotate(0deg);
  right: calc(var(--index) * 1.5);
  left: auto;
}

.showcase-navigation > *.swiper-button-disabled {
  display: none;
}

@keyframes k-light {
  0% {
    opacity: .2;
  }
	
  50% {
    opacity: .3;
  }

  100% {
    opacity: .2;
  }
}

@keyframes k-glow {
  0% {
    opacity: .6;
  }

  50% {
    opacity: .8;
  }

  100% {
    opacity: .6;
  }
}

@keyframes k-left-side {
  0% {
    transform: rotateY(-1deg) scaleX(.92);
  }

  100% {
    transform: rotateY(0deg) scaleX(1);
  }
}

@keyframes k-right-side {
  0% {
    transform: rotateY(0deg) scaleX(1);
  }

  100% {
    transform: rotateY(1deg) scaleX(.92);
  }
}


@media (max-width : 1400px) {
  .showcase__content {
    max-width: 1200px;
    margin: auto;
  }
}

@media (max-width : 800px) {
  .showcase__content-wrapper {
    padding: var(--padding) 0;
  }

  .showcase-carousel__item p {
    font-size: 15px;
    bottom: -50px;
  }
}

@media (max-width : 500px) {
  .showcase__content-wrapper {
    padding: calc(var(--padding) * .2) 0;
  }

  .showcase-carousel__item p {
    position: absolute;
    bottom: 0;
}